.home_page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background: #f3f5f9;
  height: 100vh;

  .personal {
    display: flex;
    justify-content: center;
    align-items: center;

    .picture {
      img {
        border-radius: 50%;
        height: 300px;
        width: 300px;
      }
    }

    .info {
      margin-left: 3rem;

      .name {
        font-size: 2rem;
        font-family: "Playfair Display";
      }

      .title {
        span {
          color: #2c98f0;
        }
      }
    }
  }

  .links {
    margin-left: 2rem;

    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      
      img {
        height: 2rem;
        width: 2rem;
      }

      span {
        margin-left: 10px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .home_page {
    flex-direction: column;

    .personal {
      flex-direction: column;
    }

    .links {
      p {
        display: inline-block;
        margin: 20px;
        
        span {
          display: none;
        }
      }
    }
  }
}