.home_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1rem;
  background: #f3f5f9;

  .personal {
    display: flex;
    justify-content: center;
    align-items: center;

    .picture {
      img {
        border-radius: 50%;
        height: 300px;
        width: 300px;
      }
    }

    .info {
      margin-left: 3rem;

      .name {
        font-size: 2rem;
        font-family: "Playfair Display";
      }

      .title {
        span {
          color: #2c98f0;
        }
      }
    }
  }

  .links {
    margin-left: 2rem;
  }
}
